* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Figtree", sans-serif;
}

#main {
    height: 100%;
    width: 100;
    background-color: rgb(37, 36, 36);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

#main h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 180px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}

#main h1:nth-child(2) {
    margin-top: 90px;
}

#main h1:nth-child(3) {
    text-align: center;
}

#main h1:nth-child(4) {
    text-align: center;
}

img {
    height: 400px;
    position: absolute;
    top: 18%;
    left: 40%;
}

#img1 {
    rotate: 20deg;
}

#img2 {
    rotate: 10deg;
}
